<!DOCTYPE html>
<!-- 
/**
 * Conway's Game of Life
 * 
 * Simulation by Afaan Bilal
 * https://afaan.dev/game-of-life
 * 
 * 
 * (c) Afaan Bilal
 */
 -->
<html>
    <head>
        <meta charset="UTF-8">
        <title>Conway's Game of Life</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <style>.alive { background-color: green; }</style>
    </head>
    <body>
        <div id="app" class="container py-4 bg-light mt-2">
            
            <h2 class="text-center w-100">John Conway's Game of Life</h2>
            <div class="text-center fs-5 mb-4">
                by <a href="https://afaan.dev" class="text-success" target="_blank">Afaan Bilal</a>
                <br>

                <div class="pt-3">
                    <a href="https://github.com/AfaanBilal/game-of-life" class="link-dark fs-6" target="_blank">Source Code</a>
                </div>
            </div>

            <div class="row justify-content-center my-2 py-2">
                <div class="col-auto fs-4">
                    Ticks: {{ ticks }}
                </div>
                <div class="col-auto pt-1">
                    <button class="btn btn-primary btn-sm" @click="tick">Tick</button>
                </div>
                <div class="col-auto pt-1">
                    <button class="btn btn-primary btn-sm" :class="{'btn-danger': interval}" @click="auto">{{ interval ? 'Stop' : 'Start' }}</button>
                </div>
                <div class="col-auto pt-1">
                    <button class="btn btn-dark btn-sm" @click="initial">Reset</button>
                </div>
                <div class="col-auto pt-1">
                    <button class="btn btn-dark btn-sm" @click="reset">Clear</button>
                </div>
                <div class="col-1">
                    <div class="input-group">
                        <input type="text" v-model="tickint" class="form-control form-control-sm" placeholder="Tick interval (ms)">
                        <div class="input-group-text">ms</div>
                    </div>
                </div>
            </div>

            <div class="container text-center py-2 my-2">
                <div v-for="i in height" style="height: 18px">
                    <div 
                        v-for="(v, j) in state[i]" 
                        style="margin-left: 2px; display: inline-block; border: 1px solid #999; width: 15px; height: 15px;" 
                        :class="[{'alive': v}, 'my-0 p-0']" 
                        @click="toggle(i, j)">
                    </div>
                </div>
            </div>

            <div class="py-3 row justify-content-center">
                <div class="col-6">
                    <b>Rules:</b>
                    <ol>
                        <li>Any live cell with fewer than two live neighbours dies, as if by underpopulation.</li>
                        <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
                        <li>Any live cell with more than three live neighbours dies, as if by overpopulation.</li>
                        <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
                    </ol>

                    Wikipedia: <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life" target="_blank">Conway's Game of Life</a>
                </div>
            </div>

            <div class="text-center py-3">
                &copy; <a href="https://afaan.dev" class="link-dark" target="_blank">Afaan Bilal</a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="./main.js"></script>
  </body>
</html>
